* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000215;
    font-family: "Inter", sans-serif;
    margin: 5px;
}

main {
    margin: 55px;
}

.logo {
    width: 15%;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.logo:hover{
    transform: translateY(-20px);
    box-shadow: 0 20px 50px rgb(0, 195, 255); 
}


h1{
    font-size: 4.5rem;
    color: #fff;
   display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    gap: 40px;
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;

}


h1 span
{
    background: linear-gradient(
        90deg,
        #00eaff,
        hsl(237, 100%, 50%),
        #7a00f3
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.css {
    color: #b0b5c1;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 45px;
    text-align: center;    
    padding: 0 40px;       
}


h2 {
    background-color: #0c0e1a;
    border: 1px solid #1e2235;
    font-size: 1.5rem;
    color: #bbbbbb;
    margin: 100px 100px 0;
    line-height: 1.8;
    padding-inline: 50px;
    font-family: "Poppins", sans-serif;
    border-radius: 50px;
    width: fit-content;
}


h3 {
    font-size: 1.15rem;
    color: #bbbbbb;
    margin-left: 200px;
    line-height: 1.8;
    margin-bottom: 10px;
    padding-left: 50px;
    font-family: "Montserrat", sans-serif;
}


.basico, .forma, .tipo, .ex, .codi {
      color: #c0c0c0;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 20px 400px 20px; 
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;
    margin: 0 200px; 
    font-family: "Poppins", sans-serif;   
     border-radius: 50px; 
}



.basico span, 
.forma span,
.tipo span,
.ex span{
    
    background: linear-gradient(
        90deg,
        hsl(256, 100%, 71%),
        #00e5ff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.roxo span {
   
       background:   #bf00ff;
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.fim span{
      background:   #00bbff;
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.codi{
     color: #c0c0c0;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 45px;
    margin-top: 40px;
    padding: 20px 400px 20px; 
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;
    margin: 0 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    font-family: "Poppins", sans-serif; 
     border-radius: 50px;   
}



.video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 0;
}

.video iframe {
    width: 70%;
    max-width: 800px;
    height: 450px;
    padding: 0;
    margin: 0;
    background-color: #0c0e1a;
    border: 1px solid #1e2235;
    display: block;
}


.proxi {
    margin-top: 90px;
    margin-bottom: 50px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 10px;
    background-color: #0c0e1a;
    border: 1px solid #1e2235;
    border-radius: 80px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.15rem;
  
    transition: background-color 0.5s ease, color 0.5s ease;
}

.proxi:hover {
    background-color: #ffd700;
}

.seta {
    width: 40px;
    height: 40px;
}

.pro {
    text-decoration: none;
    cursor: pointer;
}







@media (max-width: 1440px){
   

h1{
    font-size: 2.5rem;
}


.html {
    font-size: 1.25rem;    
}

h2{
    font-size: 1.25rem;
}

h3 {
     font-size: 1.25rem;
}

.basico, .forma, .tipo, .ex, .codi{
     font-size: 1.25rem;
}

.codi{
    font-size: 1.5rem;
}


.proxi {
    font-size: 1.25rem;
}
}


