@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #030513;
}

.logo {
    right: auto;
    width: 700px;
    height: auto;
    cursor: pointer;
    border-radius: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.logo:hover{
    transform: translateY(-20px);
    box-shadow: 0 20px 50px rgb(255, 153, 0); 
}


h1{
    font-size: 200px;
    color: #fff;
   display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    gap: 40px;
    margin-top: 150px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;

}

h1 span  {
    
    background: linear-gradient(
        90deg,
        #ff9900,
        hsl(38, 100%, 67%),
        #f30400
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.html {
    color: #b0b5c1;
    font-size: 60px;
    line-height: 1.6;
    margin-bottom: 45px;
    text-align: center;    
    padding: 0 40px;        
}

h2{
    background-color: #0c0e1a; 
    border: 1px solid #1e2235; 
    font-size: 100px;
    color: #bbbbbb;
    margin: 0 200px; 
    line-height: 1.8;
    margin-top: 200px;
    padding-left: 50px;
    font-family: "Poppins", sans-serif;  
}

h3 {
     font-size: 70px;
    color: #bbbbbb;
    margin-left: 200px;
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 50px;
    font-family: "Montserrat", sans-serif;
}

.titulo, .basico, .para, .img, .li, .lis, .bot, .lin,
.di, .sec{
     color: #c0c0c0;
    font-size: 60px;
    line-height: 1.6;
    margin-bottom: 45px;
    margin-top: 40px;
    padding: 20px 400px 20px; 
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;
    margin: 0 200px; 
    font-family: "Poppins", sans-serif;   
}

.codi{
    color: #c0c0c0;
    font-size: 80px;
    line-height: 1.6;
    margin-bottom: 45px;
    margin-top: 40px;
    padding: 20px 400px 20px; 
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;
    margin: 0 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    font-family: "Poppins", sans-serif;   
}

strong  {
    color:  #a9a9a9;
    font-size: 60px;
    line-height: 1.6;
    margin-bottom: 45px;
    margin-top: 40px;
    padding: 20px 400px 20px; 
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;
    margin: 0 200px;    
}

.li,
.lit{
     color:  #a9a9a9;
    font-size: 60px;
    line-height: 1.6;
    margin-bottom: 45px;
    margin-top: 40px;
    padding: 20px 400px 20px; 
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;
    margin: 0 200px;    
}

.basico span, 
strong span,
.verde span,
.amarelo span{
    
    background: linear-gradient(
        90deg,
        #84ff00,
        hsl(92, 100%, 69%),
        #20ff20
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titulo span, .para span, .img span, .li span, .lis span, .bot span,
.lin span, .di span, .sec span, .vi span, .laranja span{
   
       background: linear-gradient(
        90deg,
        #ff9900,
        hsl(38, 100%, 67%),
        #f30400
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.video {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}      

.video iframe {
    width: 80%;           
    max-width: 2500px;     
    height: 1500px;   
    padding: 200px;
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;    
}


.proxi {
    margin-bottom: 350px;
    margin-top: 250px;
    margin-left: 2500px;
    padding: 20px 400px 20px; 
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;
    border-radius: 80px;
    cursor: pointer;
    padding: 30px 100px;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 50px;
    gap: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
  
}

.proxi:hover {
    background-color: #7256ff;
}


.seta {
    width: 100px;
    height: 100px;
}

.pro {
    text-decoration: none;
    cursor: pointer; 
}









@media (max-width: 1040px) {

 .logo {
    width: 150px;
    height: auto;
}


h1{
    font-size: 25px;
    line-height: 1.8;
    gap: 8px;
    margin-top: 60px;
}

.html {
   
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 20px;  
}

h2{
    font-size: 15px;
    margin-top: 80px;
}

h3 {
     font-size: 15px;
    margin-top: 10px;
}

.titulo, .basico, .para, .img, .li, .lis, .bot, .lin,
.di, .sec{
    font-size: 12px;
    padding: 20px 40px 20px; 
}

.codi{
    font-size: 15px;
    margin-bottom: 45px;
    margin-top: 40px;
    padding: 20px 10px 20px; 
    margin: 0 200px; 
}

strong  {
    color:  #a9a9a9;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 40px;
    padding: 5px 40px 5px; 
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;
    margin: 0 200px;    
}

.li,
.lit{
     color:  #a9a9a9;
    font-size: 10px;
    margin-bottom: 45px;
    margin-top: 40px;
    padding: 20px 40px 20px; 
    background-color: #0c0e1a; 
    border: 1px solid #1e2235;
    margin: 0 200px;    
}


.video {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}      

.video iframe {
    width: 100%;  
    margin-left: 250px;         
    max-width: 500px;     
    height: 300px;   
    padding: 20px;
}


.proxi {
    margin-bottom: 50px;
    margin-top: 25px;
    margin-left: 450px;
    padding: 10px 20px 10px; 
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
  
}



.seta {
    width: 30px;
    height: 30px;
}



}










@media (max-width: 450px) {

 .logo {
    width: 120px;
    height: auto;
    margin: 0;
}


h1{
    font-size: 17px;
    line-height: 1.8;
    gap: 5px;
    margin-top: 4px;
}

.html {
    font-size: 12px;
     color: #fff;
     margin-left: 10px;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
}

h2 {
        font-size: 12px;
        margin-top: 40px;
        text-align: left; 
        margin-left: 20px;  
    }

    h3 {
        font-size: 12px;
        margin-top: 5px;
        margin-left: 0; 
    }


    .titulo, .basico, .para, .img, .li, .lis, .bot, .lin, .di, .sec, .codi {
        font-size: 12px;
        padding: 15px; 
        margin-left: 20px;
        margin-right: 10px;
    }

    strong {
    font-size: 12px;          
    padding: 10px;             
    margin-left: 20px;
    text-align: left;
}


   
    .li, .lis {
        font-size: 11px;
        padding: 20px;        
        margin: 20px;
    }


    .video {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        width: 100%;
    }      

    .video iframe {
        width: 100%;  
        margin-left: 130px;
        max-width: 100%;     
        height: 200px;   
        border-radius: 12px;
    }

    
    .proxi {
        margin: 30px auto;
        padding: 10px 15px; 
        font-size: 12px;
        gap: 10px;
    }

    .seta {
        width: 24px;
        height: 24px;
    }
}
