*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color:#020825;
    font-family: "Inter", sans-serif;
}

header{
     position: sticky;
    background-color: #030513;
    display: flex;
    align-items: center;
   position: sticky;
   top: 0;
}

header a {
    font-size: 96px;
    color: #fff;
    text-decoration: none;
    width: 100%;
     text-align: center;  
}

 .logo {
    right: auto;
    width: 600px;
    height: auto;
}

h1{
    font-size: 150px;
    color: #fff;
     padding-left: 10%;
    padding-top: 8%;
     font-weight: 800;
}

h1 span {
    background: linear-gradient(
        90deg,
        #0099ff,
        #6c63ff,
        #d946ef
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    p {
    font-size: 65px;
    color: #fff;
    padding-left: 10%;
    padding-top: 100px;
    height: auto;
}

.linha {
   width: 50%;
    height: 10px;
    background-color:  #A855F7;
    border-radius: 10px;
    margin-left: 10%;
}

h2 {
    color:  #A855F7;
    font-size: 96px;
    margin-left: 10%;
     margin-top: 100px;
}

.titulo-html a {
    color: #FFF;
    margin-left: 700px;
    margin-top: -990px;

}

.retangulo-laranja{
      background-color: #FF7816;
    width: 1500px;
    height: 580px;
    border-radius: 130px;
    margin-left: 600px;
    margin-top: 300px;
}

.retangulo-azul {
    background-color: #050F41;
    width: 1410px;
    height: 555px;
    border-radius: 130px;
    margin-left: 700px;
    margin-top: -580px;
}


