@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #000215;
    font-family: "Inter", sans-serif;
}

 .logo {
    width: 600px;
    height: auto;
}

h1 {
    font-size: 300px;
    color: #ffffff;
    margin-left: 300px;
    margin-top: 250px;
    margin-bottom: 75px;
    padding: 0;   
}

h1 span {
    background: linear-gradient(
        90deg,
        #0099ff,
        #6c63ff,
        #d946ef
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.comeco {
  font-size: 65px;
  color: #ffffff;
  margin-left: 300px;
  margin-bottom: 200px;
  padding: 0;  
  line-height: 1.8;
   font-family: "Poppins", sans-serif;    
}


.conhecer {
    background-color: #7800c2;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    padding: 30px 100px;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 50px;
    gap: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-left: 750px;  
    margin-top: 50px;
}

.conhecer:hover {
    background-color: #7256ff;
}

.seta {
    width: 100px;
    height: 100px;
}

.menina {
    position: fixed; 
    right: 0;    
    top: 0;           
    width: 50vw;       
    height: 100vh;     
    object-fit: cover;   
}

.modulo {
    text-decoration: none;
    cursor: pointer; 
}









@media (max-width: 440px) {

   
 .logo {
    width: 300px;
    height: auto;
    margin-left: 90px;
    margin-top: 40px;
}

h1 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;  
}

h1 span {
    background: linear-gradient(
        90deg,
        #0099ff,
        #6c63ff,
        #d946ef
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.comeco {
  font-size: 15px;
  margin-left: 40px;  
  line-height: 1.8;  
  margin-bottom: 30px;
}

.conhecer {
   
    padding: 5px 15px;
    color: #ffffff;
    font-size: 12px;
    gap: 5px;
    margin-left: 150px;  
    margin-top: 0;
}

.conhecer:hover {
    background-color: #7256ff;
}

.seta {
    width: 30px;
    height: 30px;
}

.menina {
    position: fixed; 
    right: 0;    
    top: 0;           
    width: 0vw;       
    height: 0vh;     
    object-fit: cover;   
}

.modulo {
    text-decoration: none;
    cursor: pointer; 
}

}



