
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    min-height: 100vh;
    background-color: #000215;
    font-family: "Inter", sans-serif;
}

 .logo {
    width: 10%;
    height: auto;
}

h1 {
    font-size: 5.5rem;
    color: #ffffff;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 75px;
    padding: 0;   
}

h1 span {
    background: linear-gradient(
        90deg,
        #0E72F8,
        #ec18ff,
       #B004F9
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.comeco {
  font-size: 1.5rem;
  color: #ffffff;
  margin-left: 70px;
  margin-bottom: 20px;
  padding: 0;  
   font-family: "Poppins", sans-serif;    
}


.conhecer {
    background-color: #C61CFE;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    padding: 10px 50px;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-left: 200px;  
    margin-top: 50px;
    margin-bottom: 20px;
}

.conhecer:hover {
    background-color: #ff0080;
}

.seta {
    width: 50px;
    height: 50px;
}

.menina {
    position: fixed; 
    right: 0;    
    top: 0;           
    width: 50vw;       
    height: 100vh;     
    object-fit: cover;   
}

.modulo {
    text-decoration: none;
    cursor: pointer; 
}


.aula1 {
    display: flex;         
    flex-direction: row;     
    justify-content: left; 
    align-items: stretch;    
    gap: 30px;                
    margin-top: 50px;         
    width: 100%; 
       
}          


.estru, .de {
    background-color: #0c0e1a; 
    border: 1px solid #1e2235; 
    border-radius: 24px;       
    width: 350px;          
    padding: 35px;             
    display: flex;
    flex-direction: column;  
    margin-left:  70px;
    margin-bottom: 40px;
      transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.estru:hover, .de:hover {
    transform: translateY(-20px);
    border-color: #a703ff; 
    box-shadow: 0 20px 50px rgba(5, 0, 143, 0.3); 
}

.numero {
    font-size: 2rem;
    font-weight: bold;
    color: #a855f7;       
    margin-bottom: 15px;    
    font-family: "Poppins", sans-serif;
}


.aula1 h3 {
    color: #ffffff;     
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 12px; 
    margin-top: 20px ;     
}


.aula2, .aula3 {
    color: #b0b5c1;      
    font-size: 1rem;
    line-height: 1.6;       
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}

