* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #000215;
    font-family: "Inter", sans-serif;
}



 .logo {
    right: auto;
    width: 600px;
    height: auto;
    }

.menina {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    object-fit: cover;
}

 h1{
    font-size: 190px;
    color: #fff;
     padding-left: 10%;
    padding-top: 8%;
     font-weight: 800;
}

h1 span {
    background: linear-gradient(
        90deg,
        #0099ff,
        #6c63ff,
        #d946ef
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    p {
    font-size: 65px;
    color: #fff;
    padding-left: 10%;
    padding-top: 2%;
    height: auto;
}

.linha {
   width: 20%;
    height: 5px;
    background-color:  #A855F7;
    border-radius: 10px;
    margin-left: 10%;
}

button {
    width: 700px;
    height: 100px;
     background: #C61CFE; 
     cursor: pointer;
     border-radius: 30px;
     margin-left: 30%;
    margin-top: 10rem;
    transition: 0.5s;
}

button:hover {
    background-color: #0ef68a;
}

button a{
    color: #fff;
    font-size: 64px;
    text-decoration: none;
     transition: 0.5s;
}
button:hover a{
    color:#000215;
}


@media  (max-width: 1024px) {
    
    main {
        display: flex;
        flex-direction: column;
    }

     
 .logo {
    right: 100px;
    width: 200px;
    height: 100%;
    }

   

    h1{
    font-size: 1.3rem;
    color: #fff;
     padding-left: 5%;
    padding-top: 5%;
     height: auto;
}

    p {
    font-size: 0.4rem;
    color: #fff;
    padding-left: 5%;
    padding-top: 2%;
}

.linha {
   width: 20;
    height: 2px;
    background-color:  #A855F7;
    border-radius: 10px;
    margin-left: 5%;
}

 button {
        width: 5rem;
        height: 1rem;
        margin-left: 40%;
        margin-top: 1rem;
    }

    button a{
    font-size: 0.6rem; 
   
}

}  